- if user_signed_in?
  = link_to image_tag("add_button.png"), new_post_path, :id => "new_post_link"
%br
- @posts.each do |post|
  .post_box_index
    %tr
      %td
        .title
          = link_to "#{post.title}", post
        %br
        %br
        .content
          = post.content
