/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html{
    background: black;
    font-family: ubuntu;
    color: black;
}
body{
    color: white;
}
.hidden{
    visibility:hidden;
}
.user_nav{
    margin-top: 15px;
    margin-left: 10px;
}
.blog_header{
    height: 100px;
    margin-top:15px;
    padding: 5px 0px 35px 30px;
    font-style: oblique;
    background: green;
    border-radius: 20px;
    font-size: 1.6em;
}
.title{
    font-style: oblique;
    font-size: 1.5em;
}
a{
    text-decoration: none;
    color: yellow;
}