/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.center{
    width: 80%;
    float: left;
    min-height: 800px;
}
.left{
    width: 10%;
    float: left;
}
.right{
    width: 10%;
    float: left;
}
.post_box_index{
    background: pink;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
}
