/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.center{
    background: black;
    color: grey;
    width: 70%;
    float: left;
}
.left{
    width: 15%;
    float: left;
    background: #3B3737;
}
.right{
    width: 15%;
    float: left;
    background: #3B3737;
}
.post_box_index{
    background: blue;
    padding: 20px;
}
