!!!
%html
  %head
    %title MyBlog
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .left
      something
    .center
      %h1
        Archives
      = yield
    .right
      something right
